.btn-a {
    width: 185px;
    height: 43px;
	background: $orange;
	display: flex;
	justify-content: center;
    align-items: center;
	border-radius: 10px;
	transition: .2s ease-in-out;

	&:hover {
		background: #e04808;
	}
}
