.category_detail {
	&--bar {
		border-top: 2px solid #eaeaea;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0;
    padding-right: 10px;
		border-bottom: 2px solid #eaeaea;
	}
	&--row {
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #eaeaea;

		&:last-child {
			border-bottom: 0;
		}

		a {
			color: #579ce9;

			&:before {
				content: "\f0da";
				font-family: FontAwesome;
				color: #b9b9b9;
				margin-right: 5px;
			}

			&:hover {
				color: #fb4f07;
			}
		}
	}
}
