.category_links {
	&--categoryname {
		padding: 45px 0 30px 0;
		color: #52a3e9;
		font-weight: 700;
	}
	&--link {
		margin-bottom: 20px;

		&:first-child {
			padding-top: 30px;
		}
		a {
			color: #0955ff;
			font-weight: 700;
			text-decoration: underline !important;
		}
	}
	&--webpage {
		a {
			color: #007f07;
		}
	}
}
