.categories {
	.category {
		display: flex;
		align-items: flex-start;

		&_icon {
			font-size: 45px;
			color: #4ea2eb;
			display: flex;
		}

		&_description {
			padding-left: 15px;
			h4 {
				a{
					color: #4ea2eb;
					font-size: 20px;
					&:hover {
						color: $orange;
					}
				}
				
			}
			.subcategories {
				a {
					@extend %text;
					&:hover {
						text-decoration: underline !important;
						color: $green;
					}
				}
			}
			.subsubcategory {
				a {
					@extend %subtext;
					&:hover {
						text-decoration: underline !important;
						color: #4ea2eb;
					}
				}
			}
			
		}
	}

	&--heading {
		padding: 40px 0 42px 0;
	}

	&_row {
		margin-bottom: 25px;
	}
}
