%ff_normal {
	font-family: "Open Sans";
	font-weight: 400;
}

%ff_light {
	font-family: "Open Sans";
	font-weight: 300;
}

%ff_bold {
	font-family: "Open Sans";
	font-weight: 700;
}

%ff_bold_n {
	font-family: "NotoSerifTC";
	font-weight: 700;
}

%ff_normal_n {
	font-family: "NotoSerifTC";
	font-weight: 400;
}

%text {
	@extend %ff_normal;
	font-size: 16px;
	color: $black;
}

%subtext {
	@extend %ff_normal;
	font-size: 14px;
	color: #696969;
}

%navtext {
	@extend %ff_normal;
	font-size: 16px;
	color: $white;
}

%boldtext {
	@extend %ff_bold;
	font-size: 16px;
	color: $black;
}

%heading {
	@extend %ff_bold;
	font-size: 20px;
	color: $veryblack;
}

%headingred {
	@extend %ff_bold_n;
	color: $red;
	font-size: 20px;
}

%textn {
	@extend %ff_normal_n;
	font-size: 16px;
	color: $black;
}
