.header {
	padding: 30px 0;

	.navbar {
		background: $blue;
		border-radius: 10px;

		&-collapse {
			justify-content: flex-end;

			@media (max-width: 991px) {
				text-align: center;
				position: relative;
				top: 20px;
			}
		}

		.orangebtn {
			margin-left: 272px;
			a{
				color: $white;
			}
		}
	}

	.navbar-nav {
		li {
			.active {
				font-weight: bold;
			}

			a {
				@extend %navtext;
				color: $white;
				position: relative;
				margin-right: 20px;
				transition: all .3s;
			}
		}
	}
}
