.headpage {
	&--heading {
		width: 730px;
		max-width: 100%;
		@extend %heading;
		padding: 50px 0;

		span {
			color: $green;
		}
	}
}

.form_description {
	color: $darkergreen;
	padding-left: 104px;
	font-family: 'Noto Serif TC', serif;
	font-weight: 700;
	margin-bottom: 25px;
	font-size: 15px;
}

.form_wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;

	&_name {
		color: $darkergreen;
		font-family: 'Noto Serif TC', serif;
		font-weight: 700;
	}

	&:last-child {
		margin-bottom: 0;
	}


	input {
		width: 75%;
		border: 1px solid #243925;
		height: 35px;
	}

	textarea {
		width: 75%;
		border: 1px solid #243925;
		height: 170px;
	}

	&_name {
		width: 20%;
	}
}

 #agreement {
	 margin-top: 20px;
 }

 .payments {
	 margin-bottom: 35px;
 }

.form_radio {
	font-family: 'Noto Serif TC', serif;
	font-weight: 700;
	margin-left: 104px;
	font-size: 16px;
	margin-bottom: 10px;

	span {
		color: $orange;
	}

	&_name {
		display: inline-block;
		color: $green;
	}
}

.features {
	&__inner {
		h2 {
			@extend %headingred;
		}

		p {
			font-family: 'Noto Serif TC', serif;
		}
	}
}

.required {
	color: $red;
}

.code_verification {
	margin-left: 104px;
	font-family: 'Noto Serif TC', serif;
	font-weight: 700;
	color: #6d7d61;
	padding: 20px 0 12px 0;

	.rewrite {
		font-family: Open sans, serif;
		font-weight: 400;
		margin-top: 10px;
	}
}

.public_link {
	display: flex;
	justify-content: space-between;
	padding-left: 104px;
	align-items: center;

	.code {
		background: #d2d2d2;
		padding: 10px 25px;
		border-radius: 6px;
		border: 1px solid #797979;
		font-size: 22px;
		font-family: 'Noto Serif TC', serif;
		font-weight: 700;
	}

	input {
		color: #fff;
		border: none;
	}
}

.search-bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 32px;
	margin-bottom: 7px;

	a {
		background: green;
		color: #fff;
		padding: 7px 50px;
		border-radius: 9px;
		transition: .2s ease-in-out;

		&:hover {
			background: #056905;
		}
	}

	input {
		width: 222px;
		border-radius: 9px;
		height: 39px;
		margin-right: 11px;
	}

	select {
		width: 222px;
		border-radius: 9px;
		height: 39px;
		margin-right: 11px;
	}
}

.form {
	a {
		color: $orange;
	}
}
