@import "base";

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSerifTC';
    src: url('../../fonts/NotoSerifTC-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSerifTC';
    src: url('../../fonts/NotoSerifTC-Regular.otf');
    font-weight: 400;
}


html {
    box-sizing: border-box;
}

body {
	background-color: $grey;
}

* {
    box-sizing: inherit;
    outline: none!important;
    text-decoration: none!important;
    &:before {
        box-sizing: inherit;
    }
    &:after {
        box-sizing: inherit;
    }
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
	max-width: 100%;
}

.container {
	width: 1107px;
	max-width: 100%;
	margin: 0 auto;
}

.container-content {
	width: 990px;
	max-width: 100%;
    margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
    padding: 0;
    position: relative;
    height: 100%;
}

.container-menu {
    width: 1107px;
    max-width: 100%;
    margin: 0 auto;
}

.white {
    background: $white;
	border-radius: 10px;
	padding-bottom: 88px;
    -webkit-box-shadow: 10px 14px 20px -8px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 14px 20px -8px rgba(0,0,0,0.39);
    box-shadow: 10px 14px 20px -8px rgba(0,0,0,0.39);
}





